<div class="container main-container">

    <h1>Lista de Pessoas</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/cadastro']">Nova pessoa</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Sobrenome
                </th>
                <th>
                    Cidade
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pessoa of pessoas">
                <td>
                    {{ pessoa.nome }}
                </td>
                <td>
                    {{ pessoa.sobrenome }}
                </td>
                <td>
                    {{ pessoa.cidade }}
                </td>
                <td>
                    {{ pessoa.estado }}
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/detalhes',pessoa.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/cadastro',pessoa.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" (click)="open(content, pessoa)">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Deseja realmente excluir?</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label name="lblnome" for="nome">Nome</label>
            <div class="input-group">
                <label for="pessoa.nome">{{pessoaExclusao.nome}} &nbsp;  {{pessoaExclusao.sobrenome}}</label>
                <label for="pessoa.nome"></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close(pessoaExclusao.id)">Excluir</button>
    </div>
</ng-template>