<div class="container main-container">

    <h3 *ngIf="pessoa.id ==0">Novo Produto </h3>
    <h3 *ngIf="pessoa.id >0">Editar Produto </h3>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" *ngIf="errors.length > 0">
                <h3 id="msgRetorno">{{tipoMensagem}}</h3>
                <ul>
                    <li *ngFor="let error of errors">{{ error }}</li>
                </ul>
            </div>
            <div class="col-12 row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Nome</label>
                        <div>
                            <input maxlength="50" [(ngModel)]="pessoa.nome" class="form-control obrigatorio" id="nome"
                                type="text" placeholder="Ex: João" />
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">cpf</label>
                        <div>
                            <input maxlength="14" [(ngModel)]="pessoa.cpf" mask="000.000.000-00" class="form-control obrigatorio" id="cpf"
                                type="text" placeholder="Ex:000.000.431-55" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 row">
                <div class="col-6 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Sobrenome</label>
                        <div>
                            <input maxlength="100" [(ngModel)]="pessoa.sobrenome" class="form-control obrigatorio"
                                id="sobrenome" type="text" placeholder="Ex: da Silva" />
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Nacionalidade</label>
                        <div>
                            <input maxlength="20" [(ngModel)]="pessoa.nacionalidade" class="form-control obrigatorio"
                                id="nacionalidade" type="text" placeholder="Ex: brasileira" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-4 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Cep</label>
                        <div>
                            <input maxlength="9" [(ngModel)]="pessoa.cep" mask="00000-000"  class="form-control obrigatorio" id="cep"
                                type="text" placeholder="Ex: 01011-100" (change)="BucarCep()" />
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Estado</label>
                        <select  [(ngModel)]="idEstado" class="form-control obrigatorio" id="phoneType">
                            <option *ngFor="let c of estados" [value]="c.id">{{c.nome}} - {{c.sigla}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Cidade</label>
                        <div>
                            <input maxlength="50" [(ngModel)]="pessoa.cidade" class="form-control obrigatorio"
                                id="cidade" type="text" placeholder="Ex: São Paulo" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Logradouro</label>
                        <div>
                            <input maxlength="50" [(ngModel)]="pessoa.logradouro "
                                class="form-control obrigatorio" id="logradouro" type="text"
                                placeholder="Ex: Rua Boa vista 253" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 row">
                <div class="col-6 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Email</label>
                        <div>
                            <input maxlength="50" [(ngModel)]="pessoa.email" class="form-control obrigatorio" id="email"
                                type="text" placeholder="Ex: email@email.com" />
                        </div>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="form-group">
                        <label class="control-label font-weight-bold ">Telefone</label>
                        <div>
                            <input maxlength="20" [(ngModel)]="pessoa.telefone" mask="(00) 0000-0000||(00) 00000-0000" class="form-control obrigatorio"
                                id="telefone" type="text" placeholder="Ex: (11)2020-3030)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-12 row d-flex flex-row-reverse">
                <a class="btn btn-danger" href="/">Voltar</a>
                <input type="submit" (click)="Salvar()" value="Salvar" class="btn btn-success">&nbsp;
            </div>
        </div>
    </div>
</div>